{% extends "home.html" %}

{% block content %}

{% if image is defined %}

<br>
<br>

{% else %}
    <br>
    <br>
    <br>
    <br>
    <br>

{% endif%}


<div class="card text-center border border-light p-5">
  <div class="card text-center border border-light p-5">
  <p class="h4 mb-4">Manuscript Text Generation</p>
  <hr>

  <form action="/search" method="POST" enctype="multipart/form-data">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
        <label class="form-label" for="customFile">Choose your Image</label>
        <input type="file" name="image"  id="customFile" />
      </div>
      
      <div class="col-md-3">
        
        {% if image is defined %}
        <button type="submit" class="btn btn1">Generate Text</button>
        <button type="submit"  class="btn btn2 my-4" value="Reset">Reset</button>
        {% else %}        
        <button type="submit" class="btn btn1 text-center my-4">Generate Text</button>
        {% endif%}

      </div>
      <div class="col-md-3">
      </div>
  
    </div>
  </form>
</div>
  {% if image is defined %}
  <hr>
  <div class="card text-center border border-light p-5">
    <div class="row">
      <div class="col-md-6">
        <h3>Chosen Image</h3>
        <img src="../static/uploads/{{image}}" alt="source Image" class = "img-responsive" width = "100%">
      </div>
      <div class="col-md-6">
        <h3>Generated Text</h3>
        <p>
          {% for word in words: %}
          {{word}}  
          {% endfor %}
          </p>
      </div>
    </div>
    
    
  </div>

  {% endif%}


  </div>
{% endblock %}